body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
#header-row{
    padding: 10px 0;
    font-size: 18px;
    color: #dddddd;
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 2;
}
#header-nav-bar{

}
#header-nav-bar .nav-item{
    background-color: transparent;
    border-bottom: 1px solid transparent;
    transition: all 0.4s;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}
#header-nav-bar .nav-item:hover{
    border-bottom-color: #bd2130 ;
    color: #5D92B1

}
#front-page-background{
    min-height: 650px;
    /*width: 100%;*/
    background-image: linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.2)), url("Images/ADGITM_building.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
#search-header-btn{
    float: right;
    z-index: 2;
    transform: translateX(-23px);
    color: black;
    padding: 2px 0;
}
#nav-bar-input-box{
    width: 50%;
    float: right;
    background-color: #dddddd;
    height: 30px;
    border-radius: 3px;
    border: 1px solid transparent;
    transition: all 1s;
    padding: 4px 5px;

}
#nav-bar-input-box:focus{
    width: 80%;
    background-color: #dddddd;
    /*border: 1px solid magenta;*/
    outline: none;
}
.carousel-indicators#home-screen li{
   margin: 0 10px;
    border-radius: 50%;width: 15px;height: 15px;
}
.carousel-item img{
    height: 580px;
}
.header-carousel-slide1 h1,p#one{
    color: #bd2130;
    animation-name: visible-text;
    animation-duration: 2s ;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    transform: translateY(-100px);
}
@keyframes visible-text {
    0%{ transform: translateY(0);
        opacity: 0;
    }
    50%{

        opacity: 1;
    }
    100%{
        transform: translateY(-100px);
    }
}

.header-carousel-slide2 h1,p#two{
    color: black;
    /*visibility: hidden;*/
    /*transition-delay: 4s;*/
    /*display: none;*/
    /*transition: opacity 0.4s;*/
    animation-name: moving-text;
    animation-duration: 2s ;
    animation-iteration-count: 1;
    transform: translate(0,-300px);
}
.nav-item a{
    text-decoration: none;
    color: inherit;
}
@keyframes moving-text {
    0%{ transform: translate(-100px,-300px);
        opacity: 0;
    }
    50%{

        opacity: 1;
    }
    100%{
        transform: translate(0px,-300px);
    }
}
.cross-button{
    display: none;
}
.responsive-menu{
    position: relative;
}
#responsive-menu-bar{
    display: none;
}
@media screen and (max-width: 760px){
    #responsive-menu-bar{
        display: block;
    }
    .responsive-menu{
        display: none;
        position: absolute;
        top: 0;
    }
    #header-nav-bar{
        background-color: black;
        z-index: 3;
    }
    #header-nav-bar .nav-item{
        width: 100%;
        font-size: 20px;
        text-align: center;
    }
    #header-nav-bar .cross-button{
        display: block;
        color: #dddddd;
    }
    .carousel-item img{
        height: 300px;
    }
}

/*FOOTER*/
#footer-container{
    background-color: black ;
    color: #dddddd;;
}
#footer-form textarea{
    width: 100%;
}
#footer-form label{
    font-size: 20px;
    text-transform: uppercase;
}

.footer-links a{
    font-style: italic;
    text-decoration: none;
    color: inherit;
    font-size: 20px;
}