#section-container{
    min-height: 500px;
    background-image: linear-gradient(rgba(61,64,91,1),rgba(61,64,91,0.5)), url("Images/cover_image_for_sections.jpg");
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}
.section-item{
    width: 150px;
    height: 150px;
    transform: rotate(45deg);
    background-color: rgba(0,0,0,0.4);
    box-shadow: 2px 2px 20px rgba(0,0,0,0.2);
    outline: 5px solid transparent;
    border: 3px solid transparent;
    transition: all 0.4s;
    margin: 3px;
    color: white;
    padding: 20px;
}
.section{
    color: white;
}
.section-icon{


    font-size: 3.5rem;
    transform: translate(-5px,10px);

}
.section-description{
    transition: visibility 0.1s;
}
.section .section-text>.section-description{
    visibility: hidden;
}
.section:hover .section-text>.section-description{
    visibility: visible;
}
.section-icon i{
    transform: rotate(-45deg);
}
.section-item:hover{
    background-color: lightgrey;
    color: black;
    outline-offset: 3px ;
    outline-color: lightgrey;
}
.section-text{
    margin: 20px 0;
    padding: 10px;
    text-align: justify;
}
.section-text-heading{
    text-transform: uppercase;
    letter-spacing: 1.3px;

}
.section-text-heading a{
    text-decoration: none;
    color: inherit;
}
.a-config{
    color: inherit;
    text-decoration: none;
}
.a-config:hover{
    color: inherit;

}