body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container-heading{
    text-align: center;
    margin: 20px;
}
.container-heading h3{
    font-weight: bold;
    color: midnightblue;
    font-size: 2em;
}
.myform-whole-container{
    margin-bottom: 20px;
}
.myform-inner-container{
    background-color: lightgray;
    padding: 5px 20px 15px 20px;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
    margin-right: 30px;
    margin-left: 30px;
    border: 1px solid red;
}
.myform-whole-container input,select{
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid transparent;
    border-radius: 3px;
}

.myform-whole-container label{
    color: #5D92B1 ;
    font-weight: bold;
}

.myform-whole-container input:focus,select:focus{
    outline: none;
    border: none;
}
.myform-inner-container{

}
.btn-class{
    background-color: midnightblue;
    color: white;
    border: none;
    cursor: pointer;
    opacity: 0.9;
}
.mybtn-setts{
    margin-left: 300px;
    margin-right: 300px;
}
.transfer_Succ{
    height: 150px;
    padding: 20px;
}
#redirect-message{
    font-size: 20px;
    margin-top: 15px;
    color: red;
}