/*Header Div settings*/
#header-menu-container{
    background-color: black;
    color: #dddddd;

}

#main-form-item li{
    margin-bottom: 30px;
}


#menu-btn{
    transform: translateX(0px);
    cursor: pointer;
}

#user-btn{
    padding: 0px;
    margin: 0px;
    transform: translateX(300px);
    transition: all 0.4s;
}



#user-btn a{
    color: white;
    text-decoration: none;
}

#user-btn:hover{
    background-color: rgba(97,97,97,0.6);
}

#heading-btn{
    transform: translateX(60px);
    color: #9fcdff;
}
/*End*/


/*Side Menu Settings*/
#main-screen-div{
    transition: all 0.4s;
}
.side-menu{
   /*position: absolute;*/
    /*left: 0;*/
    /*top: 0;*/
    max-width: 300px;

    padding: 0 20px 100px 20px;
    background-color: black;
    color: #dddddd;
    overflow-x: hidden;
}
.side-menu .col-12{
    padding: 20px;
    margin: 0;
    cursor: pointer;
    font-size: 20px;

}

.side-menu .col-12:hover{
    background-color: rgba(97,97,97,0.6);

}
.side-menu .col-12 a{
    width: 100%;
}
.side-menu .col-12 a:visited{
    background-color: #0b2e13;
}
/*Menu Toggle*/
.slide-side-menu{
    transform: translateX(-250px);
    position: relative;
}
.slide-menu-icons{
    position: absolute;
    right: 12px;
    font-size: 1.5rem;
    visibility: hidden;
    transition: visibility 0.1s;
}
.slide-menu-icons-display{
    visibility: visible;
}

.smallmenu{
    display: none;
}
.small-menu-list{

    list-style-type: none;
}



/*End*/

/*Centre Form */
#center-div{

}

#center-form{
    margin-top: 40px;
    border: 1px solid rgba(0,0,0,0.2);
    border-top: 3px solid black ;
    box-shadow: 0 10px 10px 8px rgba(0,0,0,0.1);
}

#center-item-display{
    margin-left: 50px;
    margin-top: 40px;
    box-shadow: 0 0 15px 18px rgba(0,0,0,0.1);

}

#list-items{
    /*padding: 5px 10px;*/
    padding: 0;
    background-color: rgba(97,97,97,0.3);
    overflow-y: scroll;
    margin: auto 0;
    list-style-type: none ;
    min-height: 400px;
}
#list-items li{
    z-index: 1;
    background-color: rgba(255,255,255,0.7);

    padding: 10px 15px;
    border-bottom: 1px solid grey;

}
#list-items li:hover{
    background-color: lightgray;
    cursor: pointer;
}

/*Username dropdown*/

.dropbtn {
    background-color: black;
    color: white;
    font-size: 18px;
    width: 25%;
    border: none;
    cursor: pointer;
    margin-top: 0px;
}

.dropbtn:focus {
    background-color: grey;
}

.dropbtn:focus {
    border: none;
}

.dropdown-menu-own {
    position: relative;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    right: 0;
    top: 30px;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.display-btns{
    display: none;
}

/*End of centre Form*/

/*POP UP window*/
.pop-up{
    position: fixed;
    width: 100%;
    z-index: 3;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    display: none;
}
.popup-content{
    color: black;
    background-color: white;
    border-radius: 10px;
    margin: 10% auto;
    width: 85%;
    height: auto;
    padding: 20px;

}
.close-btn{
    font-size: 18px;

}
.close-btn:hover{
    color: grey;
    cursor: pointer;
}
.transfer_Succ{
    position: absolute;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #1c7430;
    color: black;
    transform: translateY(-60px);
    font-size: 20px;
    text-transform: uppercase;

}