body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-heading{
    text-align: center;
    margin: 20px;
}

h3{
    font-weight: bold;
}

.container{
    margin-bottom: 20px;

}

#purchase-item-heading h3{
    color: midnightblue;
    font-size: 2em;
}

.form-container{
    background-color: lightgray;
    padding: 5px 20px 15px 20px;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
}


#purchase-item-form input{
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid transparent;
    border-radius: 3px;
}

#purchase-item-form input:focus{
    outline: none;
    border: none;
}

.form-container{
    border: #BD2130;
}

#purchase-item-form .btn {
    background-color: midnightblue;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

#purchase-item-form .btn:hover {
    opacity:1;
    background-color: darkblue;
    color: white;
}

#purchase-item-form label{
    color: #5D92B1 ;
    font-weight: bold;
}





